{%- set queries = [] -%}
{%- set q_params_array = [] -%}
{%- set p_params_array = [] -%}
{%- if resourceTypeId is defined -%}
    {%- set _ = queries.append('resourceTypeId=' + resourceTypeId) -%}
{%- endif -%}
{% if q_params is defined %}
    {%- for key, value in q_params.items() -%}
        {%- set _ = q_params_array.append(key + ':' + value | urlencode) -%}
    {%- endfor -%}
    {%- set _ = queries.append('q=' + q_params_array | join(',')) -%}
{%- endif -%}
{% if p_params is defined %}
    {%- for key, value in p_params.items() -%}
        {%- set _ = p_params_array.append(key + ':' + value | urlencode) -%}
    {%- endfor -%}
    {%- set _ = queries.append('p=' + p_params_array | join(',')) -%}
{%- endif -%}
?{{ queries | join('&') }}